#homepageBody{
    width: 99.86%;
    height: 1000px;
    border: 1px solid red;
}
#sub-header_1{
    /* border: 1px dashed blue; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#sub-header_1>div>p,a{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
#sub-header_1>div>p>a{
    color: black;
    text-decoration: underline;
}
#sub-header_1>div>p>a:hover{
    color: teal;
    
}
#cashbackContainer{
    border: 1px solid blue;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cashbackContainer>span{
    font-size: 16px;
}
#cashbackContainer>div{
    height: 100%;
    font-size: 8px;
    display: flex;
    align-items: center;
    margin: 5px;
}
#cashbackContainer>div>button{
    height: 95%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
}
#cashbackContainer>div>img{
    height: 80%;
}































#box{
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: 20px;

}
#box>div{
    height: 200px;
    /* border: 1px dashed blue; */
    background-color: teal;
}