#box{
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: 20px;

}
#box>div{
    height: 200px;
    /* border: 1px dashed blue; */
    background-color: teal;
}