::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background:#4e5269;
    border-radius: 10px;
    border: 2px solid white;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(72, 70, 79);
}
body{
   
    background-color: #f0f1f7;
}
*{
    font-family: 'Roboto', sans-serif;
}
#homepageBody{
    width: 99.86%;
    /* height: 2000px; */
    box-sizing: border-box;
    /* border: 1px solid red; */
}
#sub-header_1{
    /* border: 1px dashed blue; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#sub-header_1>div>p,a{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
#sub-header_1>div>p>a{
    color: black;
    text-decoration: underline;
}
#sub-header_1>div>p>a:hover{
    color: teal;
    
}
#cashbackContainer{
    /* border: 1px solid blue; */
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#cashbackContainer>span{
    font-size: 16px;
}
#cashbackContainer>div{
    height: 100%;
    font-size: 8px;
    display: flex;
    align-items: center;
    margin: 5px;
    
}
#cashbackContainer>div>button{
    height: 95%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    margin-left: 15px;
}
#cashbackContainer>div>button:hover{
    background-color: #202340;
    color: white;
}
#cashbackContainer>div>img{
    height: 75%;
    margin: 0px 5px 0px 5px;
}
#spring{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
}
#spring>a>img{
    width: 100%;
    height: 300px;
}
#personalized-wrapper{
    display: flex;
    /* border: 1px dashed blue; */
}
#personalized-wrapper>div{
    background-color: white;
    /* border: 1px solid red; */
    margin: 10px;
    /* height: 410px; */
    box-sizing: border-box;
    width: 24%;
}
/* #personalized-wrapper>div>div{
    border: 1px dashed orange;
} */
#personalized-wrapper>div>div>p{
    font-size: 19px;
    color:  #202340;
    margin: 8px 10px 20px 8px;
}
#personalized-wrapper>div>div>a>img{
    height: 100%;
    width: 100%;
}
.browingHistory_image>a>img,.viewEssential_9_image>a>img{
    height: 100%;
    width: 100%;
    /* margin-top: 10px; */
}
.browingHistory_more>a,.viewEssential_9_more>a,.seeMoreStores_more>a{
   color: #2e2c38;
   font-weight: normal;
   font-size: 14px;
   text-decoration: underline;
   margin: 10px;
}
#personalized-wrapper>div>div>a:hover{
   color: teal;
   text-decoration: none; 
}
.browingHistory_more, .viewEssential_9_more,.viewEssential_9_more{
    
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: flex-end;   
}
.seeMoreStores_image>div{
    border: 1px solid #f0f1f7;
    margin: 10px;
    background-color: #f0f1f7;
}
.seeMoreStores_image>div>a>img{
    display: block;
    margin: auto;
    background-color: #f0f1f7;
    height: 30px;
    width: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.seeMoreStores_more{
    height: 180px;
    display: flex;
    justify-content: left;
    align-items: flex-end; 
}
.signInLearnMore{
    background-color: #f0f1f7;
}
#personalized-wrapper>div:last-child{
    background-color: #f0f1f7;
    height: 415px;
}
.signInLearnMore_name{
    background-color: white;
    padding: 10px;
    text-align: center;
    padding-top: 2px;
    margin: 5px;
    margin-top: 0px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signInLearnMore_name>a>button{
    width: 95%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #414467;
    font-size: 19px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: -10px;
}
.bitpay{
    margin-top: 10px;
}
.browingHistory,.viewEssential_9,.seeMoreStores{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}
#all_2_cashbackSec{
   display: flex;
   justify-content: center;
   background-color: white;
    
}
#all_2_cashbackSec>div{
    display: flex;
    margin: 10px 10px 75px 0px;
}
#all_2_cashbackLeftDiv{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#all_2_cashbackRightDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 5px;
    
}
#all_2_cashbackRightDiv>div{
    /* border: 1px solid red; */
    margin-top: 20px;
}
#cashback{
    font-size: 16px;
    text-align: center;
}
#sale{
    margin-top: -10px;
    font-size: 11px;
    text-align: center;
}
#all_2_cashbackRightDiv img{
    width: 100%;
}

/* logo part  */

#logopart>img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: -65px;
    margin-bottom: -85px;
}


/* ************** */
#afterLogoPart{
    margin: 20px;
    /* border: 1px solid teal; */
    background-color: #f0f1f7;
}
#shop40_cashback_2,#cashback_2{
    
    padding-top: 10px;
    padding-bottom: 10px;
}
#shop40_cashback_2>div{
    /* border: 1px solid blue; */
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 40px;   
    padding-top: 10px;
    padding-bottom: 20px;
}
#shop40_cashback_2>div>div{
    /* border: 1px dashed red; */
    margin-left: 40px;
    margin-right: 40px;
}
.shop40_cashback_2_img>div>a>img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shop40_cashback_2_img>div>strong{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.shop40_cashback_2_img>div>p{
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}



#cashback_2>div{
    /* border: 1px solid blue; */
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;   
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}
/* #cashback_2>div>div{
    border: 1px solid greenyellow;
} */

.cashback_2_img>div>a>img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}
.cashback_2_img>div>strong{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#springEssTitle, #featuredCatTitle{
    background-color: white;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 20px;
}
#springEssTitle>h2, #featuredCatTitle>h2{
    margin: 0px;
}
#springEssDiv, #featuredCatDiv{
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    padding: 0px 20px 20px 20px;
    margin-bottom: 10px;
}
#springEssDiv>div, #featuredCatDiv>div{
    margin-top: 35px;
}
#imgdiv:active{
   border: 1px dashed gray;
}
#imgDesign{
    height: 155px;
    width: 155px;
    border: 10px solid #cbcdd4;
    border-radius: 50%;
}
#nameid{
    color: black;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
}


/* scrolling page starts here */

/* Hot New Products  */
/* Cleaning & Health Have Never Been More Important  */
/* Best of Web Prices & Instant Cashback! */
/* Top sellers */
/* Our Brands */
#HotNewProducts,#cleaningHelth,#webprices,#HealthyEss,#anniversaryColl,#topSellers,#ourBrands{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}
#ourBrands{
    margin-bottom: -20px;
}
#webpricesDiv,#HealthyEssDiv,#anniversaryCollDiv,#topSellersDiv,#ourBrandsDiv{
    display: flex;
}
#HotNewProductsTitle,#cleaningHelthTitle,#webpricesTitle,#HealthyEssTitle,#anniversaryCollTitle,#topSellersTitle{
    background-color: white;
}
#HotNewProductsTitle{
    padding-top: 40px;
}
#HotNewProductsTitle>p,#cleaningHelthTitle>p,#webpricesTitle>p,#HealthyEssTitle>p,#anniversaryCollTitle>p,#topSellersTitle>p,#ourBrandsTitle>p{
    font-size: 38px;
    font-family: "Oswald", "sans-serif";
    font-weight: 400;
    margin: 0;
    padding: 20px;
}
#topSellersTitle>p,#ourBrandsTitle>p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#HotNewProductsDiv,#cleaningHelthDiv,#webScrollDiv,#HealthyEssScrollDiv,#anniversaryCollScrollDiv{
    /* border: 1px solid blue; */
    background-color: white;
    display: flex;  
    overflow:scroll;
    overflow-y: hidden;  
}
#HotNewProductsDiv::-webkit-scrollbar,
#cleaningHelthDiv::-webkit-scrollbar,
#webScrollDiv::-webkit-scrollbar,
#HealthyEssScrollDiv::-webkit-scrollbar,
#anniversaryCollScrollDiv::-webkit-scrollbar
{
    height: 10px;
}
#topSellersDiv,#ourBrandsDiv{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    padding: 20px;
}
.namebox>p{
    color: black;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;
}
.namebox>p:hover{
    color: rgb(2, 187, 187);
}

#HotNewProductsDiv>div,#cleaningHelthDiv>div,#webScrollDiv>div,#HealthyEssScrollDiv>div,#anniversaryCollScrollDiv>div,#topSellersDiv>div{
    margin: 5px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#webScrollDiv img,#anniversaryCollScrollDiv img,#HealthyEssScrollDiv img{
    padding-left: 60px;
    padding-right: 60px;
    /* width: 400px; */
}
.bottomPart{
    color: black;
}
.bottomPart>div:nth-child(1){
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
    padding-right: 20px;
}
.bottomPart>div:nth-child(1):hover{
    color: rgb(2, 187, 187);
}
.bottomPart>div:nth-child(2){
    font-size: 14px;
}
.bottomPart>div:nth-child(2){
    font-size: 14px;
}
.bottomPart>div:nth-child(3){
    font-size: 12px;
    font-weight: normal;
}
.bottomPart>div:nth-child(4){
    font-size: 14px;
    font-weight: normal;
    color: teal;
}
.bottomPart>div:nth-child(4):hover{
    color: rgb(2, 187, 187);
}

/* scrolling page Hot New Products & Cleaning & Health Have Never Been More Importantend here */


/* bottom White Section  */
#bottomWhiteSec{
    height: 100px;
    background-color: white;
}

/* //Footer sign up section visible only on homepage  */
#emailDeals-signUp{
    visibility: visible !important;  
}