#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap:20px;
    background-color: #F0F1F7;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
 }
 #box{
     background-color: white;
     padding-top: 10px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     
     
 }
 .box1{
     display: flex;
     padding-left: 10px;
 }
 .namebox{
     padding-left: 20px;
     font-size: 18px;
     
 }
 .btn{
     border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     padding-left: 10px;
     padding-right: 10px;
     cursor: pointer;
 }
 .btn:hover{
     background-color: rgb(4, 4, 46);
     color: white;
 }
 *{
     font-family: Arial, Helvetica, sans-serif;
 }
 .cas{
     font-size: 12px;
     padding-left: 15px;
 }
 .par{
     font-size: 14px;
     padding-left: 20px;
     line-height: 20px;
 }
 .div2{
     display: flex;
     justify-content: right;
     background-color: #9597a6;
     height: 35px;
     align-items: center;
     padding-right: 10px;
 }
 .div2>i{
     padding-right: 10px;
     padding-left: 10px;
     font-size: 25px;
     color: white;
     cursor: pointer;

 }

 #head{
     margin-top: 20px;
 }
 #container1{
    border: 1px solid white;
    background-color: white;
}
#container1>#main{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(233, 220, 220);
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
#btn{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 8px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(4, 4, 46);
    color: white;
}
#nam{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
#box1{
    padding-left: 40px;
}
#box3{
     padding-right: 40px;
}
#b5{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}
#red:hover{
    color:red;
}
.div>i{
    padding-right: 10px;
}
.div>i:hover{
    color: black;
}
#head{
    display: flex;
    padding-left: 70px;
}
.allstoreImg{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    padding-left: 30px;
}
.str{
    font-size: .875em;
    font-family: Arial, Helvetica, sans-serif;
}
.csh{
    font-size: .75em;
    font-family: Arial, Helvetica, sans-serif;
}